body {
    background-color: #f8f9fa;
}

#habit-list .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#habit-list .badge {
    font-size: 1rem;
}

.completed {
    text-decoration: line-through;
}

.filter {
    margin-bottom: 1rem;
}
